*{
	font-family: sans-serif;
	margin: 0;
}


.head{	
	background-color: rgb(38, 38, 38);
	padding: 10px;
}

.head img{
	margin-right: 10em;
}

.head ul li,
.subNavbar ul li
{
	text-decoration: none;
	display: inline-block;
	margin-right: 4em;
	font-size: 17px;
}

.head ul li{
	color:#aaa;
}

.subNavbar ul li{
	color: white;
}

.login{
	float: right;
	display: inline-block;
	width: 10em;
}

.subNavbar{
	background-color: gray;
	padding: 10px;
	width: 100%;
}

.subNavbarFixed{
	background-color: gray;
	padding: 10px;
	width: 100%;
	position: fixed;
}

.description{
	display: inline-block;
}

.control{
	display: inline-block;
}

section[class="description"]{
	height: 20em;
	margin: 0 60px;
}

article{
	margin:0 1em;
	line-height: 34px;
}

article img{
	float: left;
}

article .description{
	float: left;
	margin-left: 2em;

}

.details article{
	margin-bottom: 2em;
}

li:hover{
	box-shadow: 0px 2px 0px white;
	cursor:pointer
}

footer{
	background-color: rgb(00, 38, 38);
	color: white;
}
@media (max-width: 1050px) {
  img{
  	display: none;
  }
}